@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@400;500;700&family=Zen+Kaku+Gothic+New:wght@500;700&display=swap");

:root {
  font-family: "M PLUS 1p", "Noto Sans JP", sans-serif;
  line-height: 1.45;
  font-weight: 400;
  color: #18344d;
  background: #eff6ff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
}

h1,
h2,
h3 {
  font-family: "Zen Kaku Gothic New", "M PLUS 1p", sans-serif;
}
